.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
}
.home-main {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-video {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/Articles/2016_february_21-sunset_running-16407-1500h.jpg");
}
.home-tint {
  left: -4px;
  width: 100%;
  bottom: -90px;
  height: 100%;
  margin: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
}
.home-content {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 33px;
}
.home-menu {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text {
  text-decoration: none;
}
.home-link {
  text-decoration: none;
}
.home-hamburger {
  cursor: pointer;
  display: none;
  padding: var(--dl-space-space-unit);
  aspect-ratio: 1;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.3);
}
.home-icon {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo1 {
  height: 33px;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-center {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  color: rgb(255, 255, 255);
  font-size: 90px;
  font-style: normal;
  text-align: center;
  font-family: "Proza Libre";
  font-weight: 700;
  line-height: 90px;
}
.home-caption {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 600px;
  text-align: center;
  font-family: "Karla";
  line-height: 27px;
}
.home-border {
  width: 100%;
  display: flex;
  max-width: 700px;
  align-items: center;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 4px;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
}
.home-filter {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 500px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ffffff;
}
.home-icon10 {
  width: 48px;
  height: 24px;
}
.home-textinput {
  width: 100%;
  padding: 0px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Karla;
  border-color: #949AA5;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  border-right-width: 1px;
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text08 {
  font-size: 3rem;
  text-align: center;
}
.home-text09 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-button:hover {
  transform: scale(1.02);
}
.home-highlights {
  gap: 220px;
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 170px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.home-highlight {
  gap: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-content1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header1 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: "Proza Libre";
  font-weight: 700;
  line-height: 60px;
}
.home-caption1 {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: "Karla";
  line-height: 27px;
}
.home-text13 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 500;
}
.home-text14 {
  font-style: normal;
  font-weight: 500;
}
.home-image {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.home-image1 {
  object-fit: cover;
}
.home-rectangle {
  right: -400px;
  width: 570px;
  bottom: -106px;
  height: 410px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.home-rectangle1 {
  right: -400px;
  width: 570px;
  bottom: -106px;
  height: 410px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.home-rectangle2 {
  right: -400px;
  width: 570px;
  bottom: -106px;
  height: 410px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.home-rectangle3 {
  right: -400px;
  width: 570px;
  bottom: -106px;
  height: 410px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.home-highlight1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image2 {
  height: 530px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.home-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-content2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header2 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: left;
  font-family: "Proza Libre";
  font-weight: 700;
  line-height: 60px;
}
.home-caption2 {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: 600px;
  text-align: left;
  font-family: Karla;
  line-height: 27px;
}
.home-find {
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(250, 216, 122);
}
.home-find:hover {
  opacity: 0.5;
}
.home-rectangle4 {
  right: -400px;
  width: 570px;
  bottom: -106px;
  height: 410px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.home-rectangle5 {
  right: -400px;
  width: 570px;
  bottom: -106px;
  height: 410px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.home-rectangle6 {
  right: -400px;
  width: 570px;
  bottom: -106px;
  height: 410px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.home-rectangle7 {
  right: -400px;
  width: 570px;
  bottom: -106px;
  height: 410px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.home-rectangle8 {
  right: -400px;
  width: 570px;
  bottom: -106px;
  height: 410px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.home-testimonials {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #F8F0E9;
}
.home-content3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading3 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title {
  color: #352B2A;
  font-size: 18px;
  line-height: 27px;
}
.home-quote {
  color: #352B2A;
  font-size: 40px;
  font-style: italic;
  font-family: Cormorant Infant;
  font-weight: 600;
  line-height: 48px;
}
.home-details {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-author {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-avatar {
  width: 120px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.home-controls {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text20 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-next {
  transform: rotate(180deg);
}
.home-text21 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #352B2A;
}
.home-content4 {
  gap: 120px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-main1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image4 {
  height: 33px;
  object-fit: cover;
}
.home-caption3 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.home-links1 {
  gap: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-items {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link01 {
  color: rgb(255, 255, 255);
}
.home-link02 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-link03 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-link04 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-items1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link05 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-link06 {
  color: rgb(255, 255, 255);
}
.home-link07 {
  color: rgb(255, 255, 255);
}
.home-link08 {
  color: rgb(255, 255, 255);
}
.home-items2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link09 {
  color: rgb(255, 255, 255);
}
.home-link10 {
  color: rgb(255, 255, 255);
}
.home-link11 {
  color: rgb(255, 255, 255);
}
.home-link12 {
  color: rgb(255, 255, 255);
}
.home-link13 {
  color: rgb(255, 255, 255);
}
.home-copyright {
  color: #766968;
  font-size: 12px;
}
.home-container5 {
  display: contents;
}
@media(max-width: 991px) {
  .home-links {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text09 {
    max-width: 100%;
  }
  .home-highlights {
    gap: 135px;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-highlight {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .home-highlight1 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .home-testimonials {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content4 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-main1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-branding {
    max-width: 80%;
  }
  .home-heading4 {
    gap: var(--dl-space-space-unit);
  }
  .home-links1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-main {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-navbar {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-menu {
    display: flex;
  }
  .home-links {
    display: none;
  }
  .home-hamburger {
    display: flex;
  }
  .home-mobile-menu {
    background-color: #397B53;
  }
  .home-icon02 {
    fill: #fff;
  }
  .home-text03 {
    color: #fff;
  }
  .home-text04 {
    color: #fff;
  }
  .home-text05 {
    color: #fff;
  }
  .home-text06 {
    color: #fff;
  }
  .home-text07 {
    color: #fff;
  }
  .home-center {
    padding-bottom: 100px;
  }
  .home-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .home-header {
    font-size: 40px;
    line-height: 40px;
  }
  .home-caption {
    font-size: 16px;
    max-width: 80%;
    line-height: 24px;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text09 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-highlights {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .home-header1 {
    font-size: 32px;
    line-height: 30px;
  }
  .home-caption1 {
    font-size: 16px;
  }
  .home-image2 {
    width: 100%;
    height: auto;
  }
  .home-content2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading2 {
    gap: var(--dl-space-space-unit);
  }
  .home-header2 {
    font-size: 32px;
    line-height: 31px;
  }
  .home-caption2 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-testimonials {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-content3 {
    gap: var(--dl-space-space-unit);
    align-items: center;
  }
  .home-heading3 {
    gap: var(--dl-space-space-unit);
    width: 80%;
    align-items: center;
  }
  .home-title {
    font-size: 12px;
    text-align: center;
    line-height: 18px;
  }
  .home-quote {
    font-size: 24px;
    text-align: center;
    line-height: 28px;
  }
  .home-details {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: center;
  }
  .home-author {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-avatar {
    width: 60px;
  }
  .home-name {
    font-size: 14px;
  }
  .home-content4 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-branding {
    max-width: 70%;
  }
}
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image1 {
    width: 100%;
  }
  .home-rectangle {
    right: -120px;
    width: 200px;
    bottom: -110px;
  }
  .home-rectangle1 {
    right: -120px;
    width: 200px;
    bottom: -110px;
  }
  .home-rectangle2 {
    right: -120px;
    width: 200px;
    bottom: -110px;
  }
  .home-rectangle3 {
    right: -120px;
    width: 200px;
    bottom: -110px;
  }
  .home-rectangle4 {
    right: -120px;
    width: 200px;
    bottom: -110px;
  }
  .home-rectangle5 {
    right: -120px;
    width: 200px;
    bottom: -110px;
  }
  .home-rectangle6 {
    right: -120px;
    width: 200px;
    bottom: -110px;
  }
  .home-rectangle7 {
    right: -120px;
    width: 200px;
    bottom: -110px;
  }
  .home-rectangle8 {
    right: -120px;
    width: 200px;
    bottom: -110px;
  }
}
