@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500;600;700&display=swap');



.landing-page-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .landing-page-top-container {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    /* background-image: url("https://images.unsplash.com/photo-1484627147104-f5197bcd6651?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1000"); */
    background-image: url("https://img-c.udemycdn.com/course/750x422/5425956_1ea4.jpg");
    background-position: 0% 40%;
  }
  .landing-page-navbar {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-doubleunit);
    max-width: 100%;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-right-side {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-links-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-text {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .landing-page-text01 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .landing-page-text02 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .landing-page-text03 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .landing-page-text04 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .landing-page-text05 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .landing-page-link {
    display: contents;
  }
  .landing-page-burger-menu {
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-page-burger-menu1 {
    width: 24px;
    height: 24px;
  }
  .solid-button-button {
    color: var(--dl-color-gray-white);
    border: none;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: 50px;
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-100);
  }
  

  

body {
  font-family: 'Proza Libre', sans-serif;
}

/* Add other styles as needed */
