/* Custom CSS for sidebar */
.sidebar-link {
    color: darkblue;
    transition: color 0.2s;
}

.sidebar-link:hover, .sidebar-link:focus {
    color: darkpurple;
    background-color: transparent;
}

/* Dropdown menu styling */
.dropdown-item {
    color: darkblue;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: darkpurple;
    background-color: transparent;
}

/* Adjust the dropdown menu appearance */
.dropdown-menu {
    background-color: white;
    border-color: darkblue;
}
