@font-face {
    font-family: 'Libre Franklin Light';
    src: url('path/to/LibreFranklin-Light.ttf') format('truetype');
}
body {
    font-family: 'Libre Franklin Light', sans-serif;
}


.chart-container {
    position: relative;
    width: 100%;
    padding: 20px;
}

.chart-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure this is above the chart */
    text-align: center;
    width: 100%; /* Optional, adjust as needed */
}
