@font-face {
    font-family: 'Libre Franklin Light';
    src: url('path/to/LibreFranklin-Light.ttf') format('truetype');
}
body {
    font-family: 'Libre Franklin Light', sans-serif;
}


.chart-container {
    position: relative;
    width: 100%;
    padding: 20px;
}

.chart-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure this is above the chart */
    text-align: center;
    width: 100%; /* Optional, adjust as needed */
}

/* The Name on the sidebar */

.gradient-text {
    font-weight: bold; /* Bold font */
    background: linear-gradient(to right, #2FBBA7, #0A446D); /* Gradient color */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

.gradient-input {
    border: 0.25px solid transparent !important;
    background-image: linear-gradient(white, white), linear-gradient(to right, #008080, #00008B) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
}


/* SIDEBAR ICONS */

.icon-container:hover .dash-iconify {
    color: #005a34; /* Example hover color */
}

.icon-container {
    cursor: pointer;
}