@font-face {
    font-family: 'Libre Franklin Light';
    src: url('path/to/LibreFranklin-Light.ttf') format('truetype');
}
body {
    font-family: 'Libre Franklin Light', sans-serif;
}


.chart-container {
    position: relative;
    width: 100%;
    padding: 20px;
}

.chart-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure this is above the chart */
    text-align: center;
    width: 100%; /* Optional, adjust as needed */
}

/* The Name on the sidebar */

.gradient-text {
    font-weight: bold; /* Bold font */
    background: linear-gradient(to right, #2FBBA7, #0A446D); /* Gradient color */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

.gradient-input {
    border: 0.25px solid transparent !important;
    background-image: linear-gradient(white, white), linear-gradient(to right, #008080, #00008B) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
}


/* SIDEBAR ICONS */

.icon-container:hover .dash-iconify {
    color: #005a34; /* Example hover color */
}

.icon-container {
    cursor: pointer;
}


/* Dairly panel Logging items */

/* Make the table header sticky */
.sticky-header th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

/* Initial style for meal type rows -- not sticky by default */
.meal-type-row th {
    background-color: #eee;
    z-index: 2;
}

/* You'll dynamically add this class to make a meal type row sticky */
.sticky-meal-type th {
    position: sticky;
    top: 40px; /* Adjust based on your header height */
    background-color: #eee;
    z-index: 3;
}
